openapi: 3.0.3

info:
  title: Birdia API
  description: |
    Detect and qualify geo-referenced objects.
    
    # Security
    
    Get your **API key** by emailing **contact@birdia.fr**.
    All of your requests must embed your API key in the header named: **x-api-key**.
    
    # Usage
    
    Submit your detection request through `POST /detections/{id}`
    where `{id}` is yours to be created.
    
    1. If your zone is described by a **GeoJson**, then just set accordingly the `geoJsonZone` field in the payload.
    2. If your zone is described by a **Shape file**, then upload it in a second call `POST /detections/{id}/shape`.
    3. If your zone is described by a list of addresses in an **Excel file**, then upload it in a second call `POST /detections/{id}/excel`.
    
    # Examples
    
    ### Detection on roof objects providing geojson multiPolygon
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/geojson/detection_toiture_payload_example.json).
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`
    2. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    Expected geojson example result is accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture_analysis_result_example.geojson)
    
    ### Detection on roof objects providing excel file containing textual addresses 
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/detection_creation_using_toiture_model_example.json). 
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`.
    2. Submit list of addresses contained inside an **Excel file** in a second call `POST /detections/{id}/excel`. 
    Example can be found [here](https://github.com/b-partners/geo-jobs/raw/refs/heads/preprod/examples/detection/excel/excel_addresses_example.xlsx)
    3. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    4. Processing time is variable due to address conversion, 
    expected geojson example result is accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture_analysis_result_example.geojson). 

  version: 'latest'

servers:
  - url: 'https://api.birdia.fr'

paths:
  '/usage':
    get:
      tags:
        - Usage
      operationId: getDetectionUsage
      summary: Get detection usage
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: surfaceUnit
          required: false
          schema:
            $ref: '#/components/schemas/DetectionSurfaceUnit'
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionUsage'
  '/detections':
    get:
      tags:
        - Detection
      operationId: getDetection
      summary: Get detections launched
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/Page"
        - in: query
          name: pageSize
          schema:
            $ref: "#/components/schemas/PageSize"
      responses:
        200:
          description: List of detections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Detection'
  '/image':
    get:
      tags:
        - Image
      summary: Retrieve aerial image from a textual, human-readable, address
      operationId: getImage
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: address
          schema:
            type: string
          required: true
        - in: query
          name: isExtended
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: shiftNb
          schema:
            type: integer
            default: 0
          required: false
      responses:
        200:
          description: Image details of provided address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageDetails'
  '/detections/{id}':
    get:
      tags:
        - Detection
      operationId: getProcessedDetection
      summary: View recently processed detection actual status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      responses:
        200:
          description: Detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
    post:
      tags:
        - Detection
      operationId: processDetection
      summary: Create or process detection
      description: |
        Create detection and launch it if `geoJsonZone` provided.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
            examples:
              detectionForRoof:
                $ref: '#/components/examples/DetectionUsingToitureModel'
      responses:
        200:
          description: Detection created or launched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/sync':
    post:
      tags:
        - Detection
      operationId: processDetectionSynchronously
      summary: Process detection synchronously
      description: |
        Intended for small areas such as an address. Tasks are processed simultaneously, delivering results in less than 90 seconds. 
        Results contains a image URL and vgg file URL, and can be requested through the GET /detections/{id} endpoint
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
      responses:
        200:
          description: Detection created or processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/addresses':
    post:
      tags:
        - Detection
      summary: Submit detection over a list of textual addresses
      operationId: detectAddresses
      description: |
        Provide list of textual addresses to launch detection
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Address'
      responses:
        200:
          description: Detection launched with provided textual addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/shape':
    post:
      tags:
        - Detection
      operationId: detectShapeFile
      summary: Submit detection over a shape file
      description: |
        Provide shape file to launch detection
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection launched with provided shape file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/excel':
    post:
      tags:
        - Detection
      operationId: detectExcelFile
      summary: Submit detection over an excel file
      description: |
        Provide excel file containing textual addresses and launch detection.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated excel file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/keys':
    delete:
      tags:
        - Security
      operationId: revokeApiKey
      summary: Revoke all apiKey accesses
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeApiKeyResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  examples:
    DetectionUsingToitureModel:
      summary: Detection using BP_TOITURE model
      value:
        emailReceiver: "<your-email-address>"
        zoneName: "<your-zone-name>"
        geoServerProperties: null
        detectableObjectModel:
          modelName: "BP_TOITURE"
        geoJsonZone:
          - type: "Feature"
            geometry:
              type: "MultiPolygon"
              coordinates:
                - [ [ [ [ -0.24908199906349182, 46.651815670805505 ], [ -0.24908166378736496, 46.65181521051821 ], [ -0.24908166378736496, 46.65181452008728 ], [ -0.24908099323511124, 46.651813829656334 ], [ -0.24908099323511124, 46.65180807606479 ], [ -0.249084010720253, 46.65180807606479 ], [ -0.24908434599637985, 46.65180853635213 ], [ -0.2490846812725067, 46.651808996639474 ], [ -0.24908501654863358, 46.651809687070475 ], [ -0.24908535182476044, 46.65181037750147 ], [ -0.24908535182476044, 46.65181152821978 ], [ -0.2490856871008873, 46.651811988507106 ], [ -0.2490873634815216, 46.65181313922538 ], [ -0.2490873634815216, 46.65181521051821 ], [ -0.24908669292926788, 46.65181544066185 ], [ -0.2490856871008873, 46.651815670805505 ], [ -0.24908535182476044, 46.65181590094914 ], [ -0.24908199906349182, 46.651815670805505 ] ] ] ]
  parameters:
    IdentifierParameter:
      in: path
      name: id
      schema:
        type: string
      description: Detection identifier
      required: true
  schemas:
    Page:
      type: integer
      description: Start at `1`
    PageSize:
      type: integer
      description: Cannot exceed `500`
    GeoServerProperties:
      type: object
      properties:
        geoServerUrl:
          type: string
        geoServerParameter:
          $ref: "#/components/schemas/GeoServerParameter"
    RevokeApiKeyResponse:
      type: object
      properties:
        message:
          type: string
    DetectionSurfaceUnit:
      type: string
      enum:
        - SQUARE_DEGREE
    DetectionSurfaceValue:
      type: object
      required:
        - value
        - unit
      properties:
        value:
          type: number
          format: double
        unit:
          $ref: '#/components/schemas/DetectionSurfaceUnit'
    DetectionUsage:
      type: object
      required:
        - totalUsedSurface
        - remainingSurface
        - lastDatetimeSurfaceUsage
        - maxAuthorizedSurface
      properties:
        maxAuthorizedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        totalUsedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        remainingSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        lastDatetimeSurfaceUsage:
          type: string
          format: date-time
    StatusStatistic:
      type: object
      properties:
        progression:
          $ref: '#/components/schemas/ProgressionStatus'
        healthStatistics:
          type: array
          items:
            $ref: '#/components/schemas/HealthStatusStatistic'
    HealthStatusStatistic:
      type: object
      properties:
        health:
          $ref: '#/components/schemas/HealthStatus'
        count:
          type: number
    ProgressionStatus:
      type: string
      enum:
        - PENDING
        - PROCESSING
        - FINISHED
    HealthStatus:
      type: string
      enum:
        - SUCCEEDED
        - FAILED
        - UNKNOWN
        - RETRYING
    Status:
      type: object
      properties:
        progression:
          type: string
          enum:
            - PENDING
            - PROCESSING
            - FINISHED
        health:
          type: string
          enum:
            - SUCCEEDED
            - FAILED
            - UNKNOWN
            - RETRYING
        creationDatetime:
          type: string
          format: date-time

    ###########################################################################################################
    ###  GeoJSON objects. Modified from: https://gist.github.com/bubbobne/fe5f2db65acf039be6a9fd92fc9c7233  ###
    ###########################################################################################################

    GeoServerParameter:
      type: object
      properties:
        service:
          type: string
        request:
          type: string
        layers:
          type: string
        styles:
          type: string
        format:
          type: string
        transparent:
          type: boolean
        version:
          type: string
        width:
          type: integer
        height:
          type: integer
        srs:
          type: string
    Feature:
      type: object
      properties:
        type:
          type: string
          enum: [ Feature ]
        geometry:
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
        properties:
          type: object
          additionalProperties: true
    Geometry:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - Point
            - Polygon
            - MultiPolygon
    Point2D:
      type: array
      maxItems: 2
      minItems: 2
      items:
        type: number
    Point:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          $ref: '#/components/schemas/Point2D'
    MultiPolygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                $ref: '#/components/schemas/Point2D'
    Polygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/Point2D'
    GeoJsonsUrl:
      type: object
      properties:
        url:
          type: string
        status:
          $ref: "#/components/schemas/Status"

    ###########################################################################################################
    ###  Detection components ############################################################################################
    ###########################################################################################################

    CreateDetection:
      type: object
      properties:
        emailReceiver:
          type: string
          description: |
            Email address that will be notified about detection steps evolution
        zoneName:
          type: string
          description: |
            Name that consumers provide to identify the zone
        geoServerProperties:
          $ref: '#/components/schemas/GeoServerProperties'
          description: Optional Configuration properties for the GeoServer.
        detectableObjectModel:
          $ref: '#/components/schemas/DetectableObjectModel'
        geoJsonZone:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: |
            Optional. If so, must provide zone by shape or excel file through its specific endpoint.
        GeoJsonOutput:
          $ref: '#/components/schemas/GeoJsonOutput'
        geoJsonDelimitationType:
          type: string
          enum:
            - ROOF
            - ZONE
    Detection:
      allOf:
        - $ref: '#/components/schemas/CreateDetection'
      properties:
        id:
          type: string
        step:
          $ref: '#/components/schemas/DetectionStep'
        geoJsonUrl:
          type: string
        shapeUrl:
          type: string
        excelUrl:
          type: string
        imageUrl:
          type: string
        pdfUrl:
          type: string
        addresses:
          type: array
          items:
            type: string
        roofDelimiter:
          $ref: '#/components/schemas/RoofDelimiter'
        creationDatetime:
          type: string
          format: date-time
    DetectionStepName:
      type: string
      enum:
        - REQUEST_ACCEPTED
        - TILING
        - MACHINE_DETECTION
        - POST_PROCESSING
    DetectionStepStatistic:
      allOf:
        - $ref: '#/components/schemas/StatusStatistic'
    DetectableObjectModel:
      type: object
      properties:
        modelName:
          $ref: '#/components/schemas/ModelName'
    ModelName:
      type: string
      description: |
        Possible values and included objects :
          - **BP_TOITURE** : Toiture, velux, panneau photovoltaique, moisissure, usure, fissure cassure, obstacle, cheminee, humidite, risque feu, ombre
          - **BP_LOM** : Passage piéton
          - **BP_ZAN** : Arbre, espace vert, toiture, voie carrossable, trottoir, parking
          - **BP_CLIMAT_RESILIENCE** : Parking, panneau photovoltaique
          - **BP_CONFIRMITE_PLU** : Bati, velux, panneau photovoltaique, Piscine
          - **BP_VOIRIE_TROTTOIRS** : Trottoir, voie carrossable
          - **BP_OLD** : Arbre, espace vert, toiture, voie carrossable, trottoir, parking, risquefeu
          - **BP_CYCL** : Pistes cyclables, symboles cyclables 
          - **BP_SIGN** : Marquages voiries
          - **BP_VEGETATION** : Espace vert, Espace arboré, arbre individualisé, canopée
          - **BP_TAMPONS** : Tampons de voiries, avaloirs, tampons hydroliques
          - **BP_CIMETIERE** : Cimetière, espace arboré, espace vert, tombe simple, tombe double, tombe non géométrique
          - **BP_STATIONNEMENT** : Parking
      enum:
        - BP_TOITURE
        - BP_LOM
        - BP_ZAN
        - BP_CLIMAT_RESILIENCE
        - BP_CONFIRMITE_PLU
        - BP_VOIRIE_TROTTOIRS
        - BP_OLD
        - BP_CYCL
        - BP_SIGN
        - BP_VEGETATION
        - BP_TAMPONS
        - BP_CIMETIERE
        - BP_STATIONNEMENT
    DetectionStep:
      properties:
        name:
          $ref: '#/components/schemas/DetectionStepName'
        status:
          $ref: '#/components/schemas/Status'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/DetectionStepStatistic'
        updatedAt:
          type: string
          format: date-time
    Address:
      type: object
      properties:
        address:
          type: string
    ImageOfAddress:
      type: object
      properties:
        address:
          type: string
        imageBase64:
          type: string
    RoofDelimiter:
      type: object
      description: |
        Optional. Mandatory only when doing sync detection using BP_TOITURE model.
      properties:
        polygon:
          type: array
          items:
            $ref: '#/components/schemas/Point2D'
    GeoJsonOutput:
      type: string
      description: |
        By default, detection output is a single GEO_JSON file, which can be displayed on a map such as QGIS, representing a single layer.
        If consumers want to separate result into multiple layers, a ZIP-compressed version is available, with each file representing a specific identified object and its corresponding map layer.
      enum:
        - GEO_JSON
        - ZIP
    ImageDetails:
      allOf:
        - $ref: '#/components/schemas/ImageOfAddress'
      properties:
        minTileCoordinates:
          $ref: '#/components/schemas/TileCoordinates'
        currentGeoPosition:
          $ref: '#/components/schemas/GeoPosition'
    GeoPosition:
      type: object
      properties:
        longitude:
          type: number
        latitude:
          type: number
    TileCoordinates:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
        z:
          type: integer
